.root {
  color: var(--text-color);
  padding: 4rem;
  --border: 0.125rem solid var(--light-color);
}

.noData {
  text-align: center;
  margin-top: 10rem;
  color: var(--text-color);
  font-size: 2rem;
}
.noData img {
  width: 10rem;
  margin-bottom: 2rem;
}

.root .search {
  display: flex;
  justify-content: flex-end;
}
.root .search input {
  min-width: 20rem;
  text-indent: 10px;
  opacity: 0.5;
  border: none;
  padding: 0 10px 0 10px;
}
.root .search button {
  background: #E3F4FE66;
  display: block;
  padding: 0.75rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
}
.root .search button::before {
  content: "Search";
}

.location {
  margin-top: 1.5rem;
}

.location > span {
  font-size: 1.125rem;
}

.location > h2 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
}

.location > p {
  font-size: 1.5rem;
}

.weather {
  display: flex;
  gap: 2rem;
  margin-top: 4.25rem;
}

.weather > section:first-child {
  flex: 0.7;
}

.weather > section:last-child {
  background: #FFFAE033;
  border-radius: 0.625rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(9.375rem, 1fr));
  padding: 1.5rem;
}

.weather h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.weather span {
  font-size: 1.5rem;
}

.weather article {
  font-size: 1.125rem;
  border-left: var(--border);
  border-top: var(--border);
  padding-left: 0.75rem;
  padding-top: 0.75rem;
}

.weather article:nth-child(-n+4) {
  border-top: none;
  padding-bottom: 0.75rem;
  padding-top: 0;
}

.weather article:first-child,
.weather article:nth-child(4n+1) {
  border-left: none;
  padding-left: 0;
}

.daily {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 5rem;
  overflow-x: auto;
}

.daily > article {
  background: #FFFAE033;
  border-radius: 0.625rem;
  font-size: 1.5rem;
  min-width: 8.25rem;
  padding: 0.75rem;
  text-align: center;
}

.weather article > b,
.daily b {
  display: block;
}

.daily img {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 48em) {
  .root {
    padding: 1rem;
  }

  .root > button {
    border-radius: 50%;
    height: 1.5rem;
    padding: 0;
    width: 1.5rem;
  }

  .root > button::before {
    content: "\002B";
  }

  .root .search input {
    min-width: 0rem;
    width: 50%;
    text-indent: 10px;
    height: 1.7rem;
    border-radius: 5px;
  }

  .root .search button {
    padding: 0.5rem;
    display: none;
  }

  .location {
    margin-top: 1rem;
  }

  .location > h2 {
    font-size: 1.5rem;
    margin-bottom: 0.375rem;
  }

  .location > span { font-size: 0.75rem; } 
  .location > p { font-size: 0.875rem; }

  .weather {
    flex-direction: column;
    margin-top: 1rem;
  }

  .weather > section:last-child {
    grid-template-columns: 1fr;
  }

  .weather h1 { font-size: 2.25rem; }
  .weather span {font-size: 0.875rem; }

  .weather article {
    align-items: baseline;
    border: none;
    border-bottom: var(--border);
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    padding: 0;
    padding: 0.5rem 0;
  }

  .weather article:nth-child(-n+4) {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .weather article:first-child {
    padding-top: 0;
  }

  .weather article > * {
    flex: 1;
  }

  .daily {
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 0.625rem;
  }
  
  .daily > article {
    font-size: 0.875rem;
    min-width: 5.125rem;
    padding: 0.5rem;
  }

  .noData {
    font-size: 1rem;
  }
}
